<nav class="navbar is-white topNav">
  <div class="container">
    <div class="navbar-brand">
      <span class="navbar-item" style="letter-spacing: 2px;">
        HackerNews Clone
      </span>
      <div class="navbar-burger burger" data-target="topNav">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div id="topNav" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" routerLink="">📰 News</a>
        <a class="navbar-item" routerLink="favorites">💾 Saved</a>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
        </div>
      </div>
    </div>
  </div>
</nav>

